
<div>
<h1>Anagrams</h1>
<% if @error.present? %>
  <p class='error'><%= "#{@error}" %></p>
  <% end %>
<form action="/" method="post" class="form">
	<label for="word">Enter a word</lable>
		<input type="text" name="word">
		<input type="submit" class="btn">
</form>
</div>